<%- include('header') -%>

<div class="centerdiv">
    <h2>OOPSIE WOOPSIE</h2>
    <p class="big">
        An error occurred while trying to do a thing: <pre class="big noalign"><%= error %></pre><br>
        <span class="textfont big">
            This is a bug, so it would be cool if you were to tell the dev about this.<br>
            This has also been logged to console.
        </span>
    </p>
</div>

<%- include('footer') -%>