</div>
<div class="footer">
    <p>
        Powered by <a href="https://nodejs.org">Node.js</a>, <a href="http://www.embeddedjs.com/">EJS</a> and <a href="https://expressjs.com/">Express</a>. No <a href="https://jquery.org">jQuery</a>.<br>
        Developed by <a href="https://github.com/ry00001">ry00001</a>. CSS by ry00001 and <a href="https://github.com/noud02">noud02</a>.<br>
    </p>
</div>
</body>