<%- include('header') -%>

<div class="centerdiv">
    <h2>Welcome to the very good speedrun portal</h1>
    <p>This is stupidity by ry00001 so don't expect it to work thanks</p>
    <a href="/auth" id="login" class="btn waves-effect waves-light red">Login with Discord</a>
</div>

<%- include('footer') -%>