<%- include('header') -%>

<div class="centerdiv">
    <p class="verybig">Hello, <%= user.username %>.</p>
    <a href="/submit"" class="btn waves-effect waves-light red widebtn">Submit a speedrun</a>
</div>

<%- include('footer') -%>